@using gpxSlopeCalculator.Logic
@inject IJSRuntime JSRuntime
 
<div id="graph-container">
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ResetChart">Reset zoom</MudButton>
        </MudItem>
        <MudItem>
            <MudSelect T="SlopeGradeType" ValueChanged="SlopeTypeChanged" ToStringFunc="i => Enum.GetName(typeof(SlopeGradeType), i)" OpenIcon="@Icons.Material.Filled.SsidChart" AdornmentColor="Color.Secondary">
                @foreach (SlopeGradeType item in Enum.GetValues(typeof(SlopeGradeType)))
                {
                    <MudSelectItem T="SlopeGradeType" Value="@item"/>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>

    <canvas id="@Id"></canvas>
</div>

 
@code {
    public enum ChartType
    {
        Pie,
        Bar,
        Line,
        Scatter
    }
    
    public class Dataset
    {
        public (double Elevetion, double TotalDistance)[] Data { get; set; }
        public string HexColor { get; private set; }
        public string Label { get; private set; }
        public double Slope { get; private set; }
        public string SlopeType { get; set; }
        public string SlopeTypeSuffix { get; set; }

        public void SetupSlope(double slope, SlopeGradeType type)
        {
            Slope = slope;
            HexColor = PlotGenerator.SlopeColorPerGainHex(slope);
            Label = PlotGenerator.GetSlopeLabel(slope);
            SlopeTypeSuffix = PlotGenerator.GetSlopeTypeSuffix(type);
            SlopeType = type.ToString();
        }
    }
    
    [Parameter]
    public string Id { get; set; }
 
    [Parameter]
    public ChartType Type { get; set; }

    [Parameter]
    public SlopeGradeType SlopeType { get; set; } = SlopeGradeType.Percent;
    
    [Parameter]
    public Func<Task> OnSettingsChanged { get; set; }
    
    [Parameter]
    public Dataset[] Datasets { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        var config = new
        {
            Type = Type.ToString().ToLower(),
            Options = new
            {
                Responsive = true,
                Scales = new
                {
                    XAxes = new
                    {
                        Ticks = new 
                        {
                            AutoSkip = true,
                            Min = 0,
                            Max = Datasets.SelectMany(x => x.Data).Select(x => x.TotalDistance).Max(),
                            StepSize = 500
                        },
                    }
                },
                Plugins = new {}
            },
            Data = new
            {
                Datasets = Datasets.Select(x => new
                {
                    Data = x.Data.Select(z => new { x = z.TotalDistance, y = z.Elevetion}).ToArray(),
                    SlopeAngle = Math.Round(x.Slope, 1),
                    BackgroundColor = x.HexColor,
                    Fill = true,
                    PointStyle = false,
                    Label =  x.Label,
                    ShowLine = true,
                    SlopeType = x.SlopeType,
                    SlopeTypeSuffix = x.SlopeTypeSuffix
                }).ToArray(),
            }
        };
 
        await JSRuntime.InvokeVoidAsync("setup", Id, config);
    }

    private async Task ResetChart()
    {
        await JSRuntime.InvokeVoidAsync("window.resetChart", Id);
    }

    private async Task SlopeTypeChanged(SlopeGradeType value)
    {
        SlopeType = value;
        await (OnSettingsChanged?.Invoke() ?? Task.CompletedTask);
    }
}